{% extends "base_content.html" %}
{% load santaclara_pages_tags %}
{% load santa_clara_editor %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ page.title }}{% endblock %}

{% block contenttitle %}{{ page.title }}{% endblock %}

{% block contentmenu %}
{% if page.menus.all %}
{% include "santaclara_pages/includes/menu.html" with menu_list=page.menus.all %}
{% endif %}
{% endblock contentmenu %}

{% block contentscheda %}
{% if page.scheda_set.all %}
{% include "santaclara_pages/includes/scheda.html" with scheda_list=page.scheda_set.all %}
{% endif %}
{% endblock contentscheda %}

{% block contenttoc %}
{% if page.has_toc %}
{% include "santaclara_pages/includes/toc.html" %}
{% endif %}
{% endblock contenttoc %}

{% block contenttext %}
{{ page.text|santa_clara_lang }}
{% endblock contenttext %}

{% block contentfooter %}{{ page.copyright.logo }}&nbsp;{% trans "last update" %}: {{ page.current.last_modified|naturalday:"j M Y" }} {{ page.current.last_modified|time:"H:i" }}{% endblock %}
