{% extends "base.html" %}
{% load gianozia_pages_tags %}
{% load santa_clara_editor %}
{% load i18n %}
{% load humanize %}

{% block content %}

<div id="pagetitle"><h1 class="title">{{ page.title }}</h1></div>

{% if page.menus.all %}
{% include "gianozia_pages/includes/menu.html" with menu_list=page.menus.all %}
{% endif %}

<div class="pagecontent">
  {% if page.scheda_set.all %}
  <div class="pageschedabox">
    <div class="pagescheda">
      <img class="bullet" src="{{ GIANOZIA_BRAND }}/bullet32.png"/>
      {% for s in page.scheda_set.all %}
      {% for v in s.schedavalue_set.all %}
      <p>{{ v.key }}: {{ v.value }}</p>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if page.has_toc %}
  <h1>{% trans "Summary" %}</h1>
  <div class="pagesummary">{{ page.text|santa_clara_toc }}</div>
  {% endif %}
  
  {{ page.text|santa_clara_lang }}

  <div class="pagefooter">
    {% trans "last update" %}: {{ page.current.last_modified }}
  </div>
</div>

{% endblock %}
